<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>titulo</h1>

    <!--~~~~~~~~~~COLOCA O FORMULARIO NO HTML~~~~~~~~~~~-->
    <!--metodos http://-->
    <form method='POST'>
        <!-- EVITA TIPO DE ATAQUE DE SEGURANÇA (que explora a confiança do navegador de um det site, falsifica solicitação entre sites-->
        {% csrf_token %}
        {{ form }} <!--CONTEXTO DO FORMULARIO-->

        <!-- TUDO QUE É DO CONTEXTO VEM ASSIM chavechavecoisa do contexto}}-->
        <!-- {% (template tag) funções do python -->
        <button type='submit'>Fazer pedido</button>
        {% if msg %}
        <h2>{{ msg }}</h2>
        {% endif %}
    </form>
</body>
</html>